@model UserClaimViewModel
@{
    ViewData["Title"] = "ManageUserClaims";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Claims</h2>
        </div>
        <div class="card-body">
            @for(int i = 0; i < Model.Claims.Count; i++)
            {
                <div class="custom-checkbox m-1">
                    <input asp-for="@Model.Claims[i].ClaimType" hidden/>
                    <input class="form-check-input" asp-for="@Model.Claims[i].IsSelected" />
                    <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
                        @Model.Claims[i].ClaimType
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" style="width: auto;">Update</button>
            <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary" style="width: auto;">Cancel</a>
        </div>
    </div>
</form>

